<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h1>投稿詳細</h1>
      <% topic = @topic %>
        <div class="row">
          <div class="col-md-4 col-sm-4"><%= profile_img(topic.user) %>
          @<%= topic.user.name %></h4></div></br>
          <div><%= image_tag topic.picture if topic.picture? %></div></br>
          <div class="col-md-4 col-sm-4"><h4><%= topic.content %>
          </div></br></br>
          <% if topic.user_id == current_user.id %>
            <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-default btn-sm btn-success' %>
            <%= link_to "削除", topic_path(topic.id), method: :delete,
            data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
          <% end %>
        </div>
        <p>コメント一覧</p>
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
        </div>
        <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
        <%= link_to '戻る', topics_path %>
  </div>
</div>
