<div class="container">
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
      <div class="container-child wrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset1">
        <%= link_to user_path(user) do %>
          <div class="container-child"><%= profile_img(user) %></div>
        <% end %>
      </div>
       <div>
         <div class="item col-md-4 col-sm-2">
           <%= link_to user.name, user %>
           <%= user.email %>
         </div>
         <div class="item col-md-4 col-sm-1 ">
           <% if user.id != current_user.id %>
                 <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), class: 'btn btn-large btn-sm btn-success' ,method: 'post'%>
             <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
           <% else %>
              <p>あなたのアカウントです</p>
           <% end %>
         </div>
       </div>
       </br>
  <% end %>
</div>
