<div class="container">
  <h2>ユーザー詳細</h2>
  <div class="container-child col-xs-4 "></div>
  <div class="container-child col-md-2 col-sm-2 col-xs-2 "><%= profile_img(@user) %></div>
  <div class="container-child col-md-2 col-sm-2 col-xs-2 "><%= @user.name %></div>
  <div class="container-child col-md-2 col-sm-2 col-xs-2 "><%= @user.email %></div>
  <div class="container-child col-xs-2 "></div>
  <div class="container-child col-xs-12 "></div>
  <div class="container-child col-md-6 col-sm-6 col-xs-6 ">
    <h3><%= @user.name %>がフォローしているユーザー</h3>
    <% if @user.followed_users.count == 0 %>
      <%= 'フォロー中のユーザーはいません' %>
    <% end %>
    <% @user.followed_users.each do |user| %>
      <%= user.name %>
    <% end %>
  </div>
    <div class="container-child col-md-6 col-sm-6 col-xs-6 ">
    <h3><%= @user.name %>をフォローしているユーザー</h3>
    <% if @user.followers.count == 0 %>
      <%= 'フォローされているユーザーはいません' %>
    <% end %>
    <% @user.followers.each do |user| %>
      <%= user.name %>
    <% end %>
  </div>
</div>
